
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to HomePage </h2>
<ul>
   
        <li>@Html.ActionLink("View All Employees ","Index0","Employees")</li>
    <br /> <br />

    <li>@Html.ActionLink("View All Departments ", "Index", "Departments")</li>
    
</ul>
