@using My_MVC_WebApp.Models ;
@model IEnumerable< My_MVC_WebApp.Models.Departments>

@{
    ViewBag.Title = "Departments Index";
}

<h2>Departments Index</h2>

<ul>
    @foreach (Departments dep in @Model) {

        <li>@Html.ActionLink(dep.Name,"Index","Employees", new { @departmentId = dep.ID },null)</li>

    }
</ul>

<br />

<h4> @Html.ActionLink("Back To HomePage","Index","Home")</h4>
